controlador/__pycache__/ControladorPedido.cpython-313.pyc
controlador/__pycache__/ControladorPedido.cpython-313.pyc
controlador/__pycache__/ControladorVenta.cpython-313.pyc
modelo/__pycache__/Venta.cpython-313.pyc
vista/__pycache__/VistaClientes.cpython-313.pyc
vista/__pycache__/VistaMenu.cpython-313.pyc
vista/__pycache__/VistaPedidos.cpython-313.pyc
vista/__pycache__/VistaVentas.cpython-313.pyc
